@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Inika:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "creepster", sans-serif;
}

h1 {
  font-size: 8rem;
  text-align: center;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

body {
  font-family: "creepster", sans-serif;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #212121;
  color: #ffffff;
  background-size: cover;
  background-position: center;
}

/* HEADER */
header {
  background-color: #212121;
  top: 0;
  z-index: 10000;
}
header img:hover {
  transform: scale(1.1, 1.1);
  transition: 0.3s;
}
header li {
  font-family: "creepster", sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
}
header li:hover {
  color: #4dff00;
  transform: scale(1.1, 1.1);
  border-bottom: 3px solid #4dff00;
  transition: 0.3s;
}

/*BANNER*/
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.banner img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.banner p {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #ffffff;
  text-shadow: 2px 0px 20px #4dff00;
  text-align: center;
}

/* FOOTER */
footer {
  text-align: center;
  background-color: #212121;
  color: #ffffff;
  padding: 10px;
}
footer img {
  width: 25px;
  margin: 0 10px;
  transition: filter 0.3s ease;
}
footer a:hover img {
  filter: drop-shadow(0px 0px 10px #ffffff);
}

/* INDEX */
.carousel-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #212121;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.carousel-item img {
  max-height: 100vh;
  width: auto;
  height: 1000px;
  object-fit: cover;
}

.carousel-caption h2 {
  color: #ffffff;
}

/* LIBROS */
.card {
  font-family: "creepster", sans-serif;
  background-color: #212121;
  color: #ffffff;
}

.btn {
  background-color: #b30000;
  border-color: #b30000;
}
.btn:hover {
  background-color: #212121;
  border-color: #b30000;
  color: #4dff00;
}

/* NOSOTROS */
.gridConteiner {
  display: grid;
  grid-template-areas: "img1 txt1" "txt2 img2" "img3 txt3";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 500px);
  justify-items: center;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 0;
  row-gap: 2px;
  column-gap: 2px;
}
.gridConteiner img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}
.gridConteiner p {
  font-size: 1.5rem;
  text-align: center;
  margin: 0 25px;
  padding: 5px;
  font-weight: 600;
  text-shadow: 2px 0px 20px #4dff00;
}

.gridImg1 {
  grid-area: img1;
}

.gridTxt1 {
  grid-area: txt1;
}

.gridTxt2 {
  grid-area: txt2;
}

.gridImg2 {
  grid-area: img2;
}

.gridImg3 {
  grid-area: img3;
}

.gridTxt3 {
  grid-area: txt3;
}

/* PRÓXIMAMENTE */
.proxContainer {
  display: flex;
  margin: 20px;
  padding: 20px;
  align-items: center;
  text-align: center;
  border: 1px;
}

.imgContainer {
  flex: 1;
}

.imgProx {
  display: block;
  margin: 0 auto;
  max-width: 50%;
  height: auto;
}

.txtcontainer {
  flex: 1;
  margin: 20px;
}
.txtcontainer .txtcontainer p {
  font-size: 1.2rem;
}

/* CONTACTO */
.contacto-container {
  display: flex;
  border: 1px;
  margin: 20px;
}

.contactoTexto {
  margin: 20px;
  text-align: center;
}

/*iframe*/
.iframe-container {
  flex: 1;
  padding: 20px;
  width: 50%;
}
.iframe-container iframe {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

/*formulario*/
.formContainer {
  flex: 1;
  padding: 20px;
  width: 50%;
}
.formContainer form {
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
.formContainer input[type=text], .formContainer input[type=email], .formContainer textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #b30000;
  border-radius: 3px;
  box-sizing: border-box;
}
.formContainer input[type=text]:focus, .formContainer input[type=email]:focus, .formContainer textarea:focus {
  border: #4dff00 4px solid;
  transition: background-color 0.3s ease;
}
.formContainer textarea {
  height: 100px;
}
.formContainer .btnFormulario {
  background-color: #b30000;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.formContainer .btnFormulario:hover {
  background-color: #212121;
  border-color: #b30000;
  color: #4dff00;
}

/* MediaQ */
/* MOBILE */
@media only screen and (max-width: 480px) {
  header li:hover {
    transform: none;
    border-bottom: none;
  }
  .banner img {
    width: 80%;
    height: auto;
  }
  .banner p {
    font-size: 1rem;
  }
  .flex {
    flex-direction: column;
    align-items: center;
  }
  .tituloDePag {
    font-size: 4rem;
  }
  /* Nosotros */
  .gridConteiner {
    grid-template-areas: "txt1" "img1" "txt2" "img2" "txt3" "img3";
    grid-template-columns: 95%;
    grid-template-rows: repeat(6, 200px);
  }
  /* proximamente */
  .proxContainer {
    flex-direction: column;
  }
  /* contacto */
  .contacto-container {
    flex-direction: column;
  }
  .iframe-container,
  .formContainer {
    width: 100%;
  }
  iframe {
    max-width: 100%;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
