@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Inika:wght@700&display=swap');

$blanco:#ffffff;
$rojo:#b30000;
$negro:#212121;

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    font-family:'creepster';
}

h1{
    font-family:'creepster',serif;
    font-size:8rem;
    text-align:center;
}
h2{
    font-size:3rem;
    text-align:center;
}
h3{
    font-family:"creepster";
    font-size:2rem;
    color:$blanco;
    text-shadow:2px 0px 20px rgb(0, 255, 13);
    text-align:center;
}
body{
    background-image: url('../img/BG10.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-color:$negro;
    color:$blanco;
    background-size:cover;
    background-position:center;
}

/* HEADER */
header{
    background-color:$negro;
    top:0;
    z-index:10000;
    li{
        font-family:"Creepster", sans-serif;
        font-size:2rem;
    }
    a{
        font-family:"Creepster", sans-serif;
        font-size:2rem;
        text-decoration:none;
    }
}

/* MAIN INDEX */
/*BANNER*/
.banner{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:$blanco;
    img{
        max-width:100%;
        height:auto;
        display:block;
        margin:0 auto;
    }
    h3{
        font-size:2rem;
        margin-bottom:20px;
    }
}

/* CAROUSEL */
.carousel-item{
    img{
        max-height:100vh;
        width:auto;
        height:1000px;
        object-fit:cover;
    }
    p,h5{
        color:$rojo;
        text-shadow:cyan;
    }
}
.carousel-container{
    position:relative;
    width:100%;
    height:100vh;
    background-color:darkslategrey;
    background-size:cover;
    background-position:center;
    overflow:hidden;
}

/*  LIBROS */
/* LIBROS */
.card{
    font-family:"creepster";
    background-color:$negro;
    color:$blanco;
}
.btn{
    background-color:$rojo;
    border-color:$rojo;
}

/* NOSOTROS */
.gridConteiner{
    display:grid;
    grid-template-areas:
    "img1 txt1 txt1"
    "txt2 txt2 img2"
    "img3 txt3 txt3";
    grid-template-columns:30% 30% 30%;
    grid-template-rows:repeat(3,300px);
    justify-items:center;
    align-items:center;
    justify-content:center;
    margin-top:5px;
    margin-bottom:5px;
    row-gap:2px;
    column-gap:2px;
    img{
        width:auto;
        height:100%;
        max-width:100%;
        border-radius:5px;
        display: block;
        margin: 0 auto;
    }
    p{
        font-size:1.5rem;
        text-align:justify;
        margin:0 25px;
        padding:5px;
        font-weight:600;
    }
}
.gridImg1{
    grid-area:img1;
}
.gridTxt1{
    grid-area:txt1;
}
.gridTxt2{
    grid-area:txt2;
}
.gridImg2{
    grid-area:img2;
}
.gridImg3{
    grid-area:img3;
}
.gridTxt3{
    grid-area:txt3;
}

/* PRÓXIMAMENTE */
.textoProx{
    text-align:center;
    margin:20px 100px;
}
.imgProx{
    display:block;
    margin:0 auto;
    max-width:25%;
    height:auto;
}

/* CONTACTO */
.contacto-container{
    display:flex;
    border: 1px solid $rojo;
    margin:20px;
}
.contactoTexto{
    margin:20px;
    text-align:center;
}
/*iframe*/
.iframe-container{
    flex:1;
    padding:20px;
    width:50%;
    iframe{
        width:100%;
        height:100%;
        border-radius:5px;
        max-width:100%;
        display:block;
        margin:0 auto;
    }
}
/* formulario */
.formContainer{
    flex:1;
    padding:20px;
    width:50%;
    form{
        margin:20px;
        padding:20px;
        border-radius:5px;
        text-align:center;
    }
    input[type="text"],input[type="email"],textarea{
        width:100%;
        padding:8px;
        margin-bottom:10px;
        border:1px solid $rojo;
        border-radius:3px;
        box-sizing:border-box;
    }
    textarea{
        height:100px;
    }
    .btnFormulario{
        background-color:$rojo;
        color:$blanco;
        padding:10px 20px;
        border:none;
        border-radius:3px;
        cursor:pointer;
        transition:background-color 0.3s ease;
    }
    input[type="submit"]:hover{
        background-color:$rojo;
    }
}

/* FOOTER */
footer{
    text-align:center;
    background-color:$negro;
    color:$blanco;
    padding:10px;
    img{
        width:25px;
        margin:0 10px;
        filter:invert(1);
    }
}

/* MediaQ */
/* MOBILE */
@media only screen and (max-width:480px){
    h1{
        font-size: 3rem;
    }
    .banner img{
        width:370px;
    }
    .flex{
        flex-direction:column;
        align-items:center;
    }
    .tituloDePag{
        font-size:2rem;
    }

    /* Nosotros */
    .gridConteiner{
        grid-template-areas:
        "txt1"
        "img1"
        "txt2"
        "img2"
        "txt3";
        grid-template-columns:95%;
        grid-template-rows:repeat(5,200px);
    }
    .gridImg3{
        display:none;
    }

    /* contacto */
    .contacto-container{
        flex-direction:column;
    }
    .iframe-container,
    .formContainer{
        width:100%;
    }
    iframe{
        max-width:100%;
        width:100%;
    }
}