@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Inika:wght@700&display=swap');

$blanco:#ffffff;
$rojo:#b30000;
$negro:#212121;
$verde:#00ff0d;
$font:'creepster',sans-serif;

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    font-family:$font;
}

h1{
    font-size:8rem;
    text-align:center;
}
h2{
    font-size:3rem;
    text-align:center;
}
h3{
    font-size:2rem;
    color:$blanco;
    text-shadow:2px 0px 20px $verde;
    text-align:center;
}
body{
    font-family:$font;
    background-image:url('../img/BG10.png');
    background-size:cover;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:center;
    background-color:$negro;
    color:$blanco;
    background-size:cover;
    background-position:center;
}

/* HEADER */
header{
    background-color:$negro;
    top:0;
    z-index:10000;
    li{
        font-family:$font;
        font-size:2rem;
        text-decoration:none;
        &:hover{
            color:$verde;
            transform:scale(1.1,1.1);
            text-decoration:underline;
            transition:1s;
        }
    } 
}

/*BANNER*/
.banner{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:$blanco;
    img{
        max-width:100%;
        height:auto;
        display:block;
        margin:0 auto;
    }
    h3{
        margin-bottom:20px;
    }
}

/* FOOTER */
footer{
    text-align:center;
    background-color:$negro;
    color:$blanco;
    padding:10px;
    img{
        width:25px;
        margin:0 10px;
        filter:invert(1);
    }
}