@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Inika:wght@700&display=swap');

$blanco:#ffffff;
$rojo:#b30000;
$negro:#212121;
$verde:#4dff00;
$font:'creepster',sans-serif;

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    font-family:$font;
}

h1{
    font-size:8rem;
    text-align:center;
}
h2{
    font-size:3rem;
    text-align:center;
}
body{
    font-family:$font;
    background-image:url('../img/background.jpg');
    background-size:cover;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:center;
    background-color:$negro;
    color:$blanco;
    background-size:cover;
    background-position:center;
}

/* HEADER */
header{
    background-color:$negro;
    top:0;
    z-index:10000;
    img{
        &:hover{
            transform:scale(1.1,1.1);
            transition:0.3s;
        }
    }
    li{
        font-family:$font;
        font-size:1.5rem;
        text-decoration:none;
        &:hover{
            color:$verde;
            transform:scale(1.1,1.1);
            border-bottom:3px solid $verde;
            transition:0.3s;
        }
    } 
}

/*BANNER*/
.banner{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:$blanco;
    img{
        max-width:100%;
        height:auto;
        display:block;
        margin:0 auto;
    }
    p{
        margin-bottom:20px;
        font-size:2rem;
        color:$blanco;
        text-shadow:2px 0px 20px $verde;
        text-align:center;
    }
}

/* FOOTER */
footer{
    text-align:center;
    background-color:$negro;
    color:$blanco;
    padding:10px;
    img{
        width:25px;
        margin:0 10px;
        transition:filter 0.3s ease;
    }
    a:hover img{
        filter:drop-shadow(0px 0px 10px $blanco);
    }
}