/* INDEX */
/*(achicar carousel)*/
.carousel-container{
    max-width: 800px;
    background-position:center;
    overflow:hidden;
    /*    position:relative;
    width:100%;
    height:100vh;
    background-size:cover;
    background-position:center;
    overflow:hidden; */
}
/* .carousel-item img{
    max-height:100vh;
    width:auto;
    height:1000px;
    object-fit:cover;
} */
.carousel-caption{
    h2{
        color:$blanco;
    }
}