/* LIBROS */
.card{
    font-family:$font;
    background-color:$negro;
    color:$blanco;
}
.btn{
    background-color:$rojo;
    border-color:$rojo;
    &:hover{
        background-color:$negro;
        border-color:$rojo;
        color:$verde;
        transform:scale(1.1,1.1);
        transition:1s;
    }
}